.done {
    color:lightgrey;
    text-decoration: line-through;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo li {
    width: 90%;
}

.todo button {
    background-color:  #1C1C21;
    border: none;
    color: white;
}

.todo-edit input {
    background-color: #1C1C21;
    color: white;
    border: none;
    border-bottom: 2px outset rgba(209,222,227,0.22);
    font-size: 20px;
    outline: none;
    width: 69%;
}

.todo-edit button {
    background-color: #1C1C21;
    border: 1px solid rgba(209,222,227,0.82);
    color: rgba(209,222,227,0.82); 
    font-size: 18px;
    margin-left: 5px;
    outline: none;
}